In [8]:
import pandas as pd 
import matplotlib as plt

In [9]:
df = pd.read_csv('dataset_financiero.csv')
print(df.head())

        Fecha      Precio  Volumen Sentimiento EstadoDolar ActivoRef Tendencia
0  2022-01-01  101.293428     1648    positivo      fuerte  petr√≥leo      baja
1  2022-01-02  101.316900     1317    negativo       debil       oro      sube
2  2022-01-03  102.912277     4748    negativo      fuerte     bonos      baja
3  2022-01-04  106.258336     4296    positivo       debil       oro      sube
4  2022-01-05  106.090030     4890    positivo      fuerte       oro      baja

In [10]:
pivot = df.pivot_table(
    values="Precio",
    index="Sentimiento",
    columns="EstadoDolar",
    aggfunc="mean",
    fill_value=0
)
pivot

EstadoDolar       debil      fuerte
Sentimiento
negativo     100.363526  101.647387
neutral      103.812739  100.109539
positivo     105.306923  102.313862

In [11]:
pivot2 = df.pivot_table(
    values=["Precio", "Volumen"],
    index="Tendencia",
    columns="Sentimiento",
    aggfunc="mean",
    fill_value=0
)
pivot2

                 Precio                              Volumen               \
Sentimiento    negativo     neutral    positivo     negativo      neutral
Tendencia
baja         101.097461  100.365218  101.826763  3661.300000  3118.842105
sube         100.729677  103.707767  104.682809  2342.777778  3214.272727


Sentimiento     positivo
Tendencia
baja         2979.833333
sube         2881.241379

In [12]:
pivot3 = df.pivot_table(
    values="Precio",
    index="Tendencia",
    columns="EstadoDolar",
    aggfunc=["max", "min"],
    fill_value=0
)

In [13]:
df.columns.tolist()

['Fecha',
 'Precio',
 'Volumen',
 'Sentimiento',
 'EstadoDolar',
 'ActivoRef',
 'Tendencia']